.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: .375rem;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;    
  }

  #checkoutTooltip {
    display: none;
  }
  input {
    outline: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .loadingIcon {
      animation: App-logo-spin infinite 1s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }